{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <style>
        .box-login .panel .panel-heading {
            background-color: #FFFFFF; 
        }
        .panel-heading{
            background-image: url({{ asset('bundles/vortexginassets/ext/examples/desktop/images/dsplatform.jpg') }})!important;
            height: 60px!important;
            background-repeat: no-repeat;
        }
        .panel-title{
            font-size: 0.1px;
        }
        .panel-title{
            color: #FFFFFF;
        }

        .form-control {
            border: 0px solid #ccc;
            background-color: #FFFFFF;
        }

        .css-input { padding:3px; 
                     border-color:#cccccc !important; 
                     font-size:20px !important;
                     border-style:dotted !important; 
                     border-bottom-width:3px !important;
                     background-color: #FFFFFF !important;
                     border-radius: 0px !important;
                     display: inline !important;
                     width: 100% !important;
                     box-shadow: none ! important;
                     outline: none ! important;
        } 

        .css-input:focus { 
            outline:none !important;
        } 
        input[type="text"], textarea {

            background-color : #d1d1d1; 

        }
        .btn-primary {
            background-color: #FFFFFF;
            border: 1px solid #cccccc !important; 
            color:#000;
        }
        .btn-primary:hover {
            background-color: #FFFFFF;
            border: 1px solid #cccccc !important; 
            color:#000;
        }
    </style>

    <form action="{{ path("admin_login_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <label for="username">{{ 'security.login.username'|trans }} : </label>
        <input style=" background-color: #FFFFFF!important; " class="css-input"  type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        <label for="password">{{ 'security.login.password'|trans }} : </label>
        <input class="css-input" type="password" id="password" name="_password" required="required" />
        <br /> 
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </form>
{% endblock fos_user_content %}
